.login,
.ss-icons,
.menu,
.menu ul,
.pop,
.money {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tophead {
  padding: 0.5vw;
  background-color: #fff;
}
.tophead .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  width: 94%;
  margin: auto;
}
.tophead .top .ss-icons {
  color: #93A0A7;
  gap: 20px;
}
.tophead .top .login {
  gap: 20px;
}
.tophead .top .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tophead .top .submit i {
  color: #ff7100;
  color: #F89223;
}
.tophead .top .submit span {
  color: #93A0A7;
}

.menu {
  font-family: "Lato", sans-serif;
  height: 100px;
}
.menu ul {
  gap: 50px;
}
.menu ul li {
  list-style: none;
  font-weight: 600;
}
.menu ul img {
  transform: translateY(15px);
  z-index: 1;
}
.menu .menures li {
  list-style: none;
}
.menu .menuImg {
  display: none;
  width: 35px;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  transition: 0.6s;
  transition-delay: 0.3s;
  background-color: transparent;
  border: none;
  outline: none;
  transform: rotate(180deg);
}
.menu .menuImg::after {
  display: none !important;
}
.menu .menuImg .top, .menu .menuImg .middle, .menu .menuImg .bottom {
  position: relative;
  transition: 0.5s;
  margin: 3px 0;
  display: block;
  background: #253238;
  border-radius: 5rem;
}
.menu .menuImg .top {
  width: 15px;
  height: 3px;
  animation: width_anim 0.5s infinite ease-in-out forwards alternate-reverse;
  margin-left: auto;
}
.menu .menuImg .middle {
  width: 28px;
  height: 3px;
  animation: width_anim2 0.5s infinite ease-in-out forwards alternate-reverse;
  margin-left: auto;
}
.menu .menuImg .bottom {
  width: 15px;
  height: 3px;
  animation: width_anim 0.5s infinite ease-in-out forwards alternate-reverse;
  margin-left: auto;
}
.menu .menuClose {
  width: 18px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  position: absolute;
  display: none;
  right: 13%;
  transform: translateY(-50px);
  transition: 0.6s;
  transition-delay: 0.3s;
}
.menu .dropdownmenu {
  position: absolute;
  width: 100%;
  height: 50px;
  display: none;
  opacity: 0;
  transition: 1s;
  overflow: hidden;
  top: -500px;
  z-index: 999;
}
.menu .dropdownmenu a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.banner {
  height: 740px;
  position: relative;
  z-index: 0;
  background-image: url(/assets/images/banner.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .welcome {
  height: 100%;
  padding: 10rem;
}
.banner .welcome h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 4.5rem;
  width: 407px;
}
.banner .welcome button {
  background-color: #d2721d;
  color: #f5f5f5;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin-top: 3rem;
  transition: 0.25s;
}
.banner .welcome button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(248, 146, 35, 0.5);
  border-radius: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}

.whoweare {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 70%;
  margin: 2rem auto;
  font-family: "Exo 2", sans-serif;
}
.whoweare .whoimg img {
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.whoweare .whocont {
  padding: 2rem;
}
.whoweare .whocont span {
  text-transform: uppercase;
  color: #d89359;
  letter-spacing: 1px;
  font-weight: 600;
}
.whoweare .whocont h4 {
  font-size: 2.5rem;
  width: 75%;
  margin-top: 1.5rem;
}
.whoweare .whocont p {
  width: 95%;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-top: 1rem;
  color: #253238;
  font-family: "Lato", sans-serif;
}
.whoweare .whocont .cont2 {
  margin-top: 1.5rem;
}

.popular {
  background-color: #27231f;
  width: 100%;
  background-image: url(/assets/images/popular.png);
  height: 700px;
  background-size: cover;
}

.cards {
  background-color: #f8f7f2;
  width: 70%;
  margin: 6rem auto;
}
.cards .cards-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
  font-family: "Exo 2", sans-serif;
}
.cards .cards-header h4 {
  font-size: 2vw;
}
.cards .cards-header button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: #d2721d;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cards .cards-header button i {
  font-size: 18px;
}
.cards .flex-center {
  flex-direction: column;
  align-items: center;
}
.cards .flex-center p {
  color: #d89359;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: small;
}
.cards .cards-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.newrecp {
  margin: 15rem auto 10rem;
}

.input-container {
  display: flex;
  width: 100%;
  height: 650px;
  background: #000000;
  color: #fdfdfd;
}
.input-container .inputs-banner {
  width: 50%;
  height: 100%;
}
.input-container .inputs-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.input-container .inputs-form-container {
  width: 50%;
  height: 100%;
  padding: 5%;
}
.input-container .inputs-form-container .header {
  font-size: 40px;
  padding-bottom: 20px;
}
.input-container .inputs-form-container .description {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
}
.input-container .inputs-form-container .inputs {
  padding-top: 45px;
  font-family: "Exo 2", sans-serif;
}
.input-container .inputs-form-container .inputs form {
  max-width: 700px;
  display: grid;
  gap: 20px;
  font-size: 0.8rem;
}
.input-container .inputs-form-container .inputs form .input-field {
  border: none;
  outline: none;
  border-bottom: white solid 1px;
  background-color: black;
  width: 100%;
  padding-top: 18px;
  padding-left: 5px;
  padding-bottom: 3px;
  color: white;
}
.input-container .inputs-form-container .inputs form textarea {
  background: #000000;
  color: #fdfdfd;
  font-family: "Exo 2", sans-serif;
  padding: 10px 5px;
  border: none;
  border-bottom: white solid 1px;
  outline: none;
  width: 100%;
}
.input-container .inputs-form-container .inputs form .input-field::-moz-placeholder {
  color: white;
}
.input-container .inputs-form-container .inputs form .input-field::placeholder {
  color: white;
}
.input-container .inputs-form-container .inputs form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
.input-container .inputs-form-container .inputs form ::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
.input-container .inputs-form-container .inputs form :-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
.input-container .inputs-form-container .inputs form :-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
.input-container .inputs-form-container .btn-submit {
  width: 120px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #d2721d;
  cursor: pointer;
  margin: 0.5rem 0;
  border: none;
  font-weight: 600;
}

.banner-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
  background-image: url("../../assets/images/Layer 19@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Exo 2", sans-serif;
}
.banner-container .card {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.74);
  padding: 20px;
  width: 25%;
  margin-left: 20%;
}
.banner-container .card .card-body {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-container .card .card-body .header {
  font-size: small;
}
.banner-container .card .card-body .highlight-header {
  font-size: xx-large;
}
.banner-container .card .card-body .body-content {
  font-size: smaller;
}
.banner-container .card .card-body .signature img {
  height: 100%;
  width: 200px;
}

.testimonial {
  margin: 3rem auto;
}
.testimonial .testimonial-container {
  background: rgb(248, 247, 242);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font-family: "Exo 2", sans-serif;
}
.testimonial .testimonial-container .header {
  text-transform: uppercase;
  color: #d89359;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: small;
}
.testimonial .testimonial-container .content {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.testimonial .testimonial-container .sub-content {
  text-align: center;
  width: 40%;
  color: #253238;
  font-size: 15px;
}
.testimonial .testimonial-container .cardcontmain .card-container {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.testimonial .testimonial-container .cardcontmain .card-container .card-template {
  width: 300px;
  min-width: 300px;
  height: 300px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Exo 2", sans-serif;
}
.testimonial .testimonial-container .cardcontmain .card-container .card-template .profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial .testimonial-container .cardcontmain .card-container .card-template .profile .profile-pic {
  width: 60px;
  height: 60px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid gray;
  overflow: hidden;
}
.testimonial .testimonial-container .cardcontmain .card-container .card-template .profile .profile-pic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial .testimonial-container .cardcontmain .card-container .card-template .content1 {
  text-align: center;
  font-size: small;
  color: #7a7a7a;
}
.testimonial .testimonial-container .cardcontmain .card-container .card-template .name {
  text-align: center;
  font-style: italic;
  font-weight: 600;
}
.testimonial .testimonial-container .cardcontmain .card-container .card-template .role {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  color: #7a7a7a;
}
.testimonial .testimonial-container .cardcontmain .card-container .card-template:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.msg-founder {
  margin: 3rem 0 6rem;
}

.popsection {
  position: relative;
  margin: 6rem auto;
}
.popsection .popular {
  background-color: #27231f;
  width: 100%;
  background-image: url(/assets/images/popular.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  position: relative;
}
.popsection .popular .pop {
  flex-direction: column;
  height: 100%;
}
.popsection .popular .pop h3 {
  font-size: 2.5rem;
}
.popsection .popular .pop p {
  width: 40%;
  text-align: center;
  color: #f0f0f0;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-top: 2rem;
}
.popsection .popular img {
  position: absolute;
  left: -7%;
  top: 15%;
  width: 35%;
}
.popsection .popcircles {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popsection .popcircles .popcircleimg {
  width: 15vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 5px solid #fff;
}
.popsection .popcircles .popcircleimg img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}

.benifits {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 50px;
  padding: 6rem 0;
  width: 85%;
  margin-left: auto;
}
.benifits .benfits-cont {
  font-family: "Exo 2", sans-serif;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}
.benifits .benfits-cont .topcont span {
  text-transform: uppercase;
  color: #d89359;
  letter-spacing: 1px;
  font-weight: 600;
}
.benifits .benfits-cont .topcont h4 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  letter-spacing: 1px;
}
.benifits .benfits-cont .topcont p {
  width: 95%;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-top: 1rem;
  color: #253238;
  font-family: "Lato", sans-serif;
}
.benifits .benfits-cont .rightcont {
  padding: 2rem 0;
  display: grid;
  gap: 20px;
}
.benifits .benfits-cont .rightcont .money {
  gap: 30px;
  align-items: baseline;
}
.benifits .benfits-cont .rightcont .money .icon {
  color: #e2cf3c;
  font-size: 25px;
  position: relative;
  top: 15px;
}
.benifits .benfits-cont .rightcont .money .icon::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(188, 211, 62, 0.1882352941);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.benifits .benfits-cont .rightcont .money .moneycont {
  display: grid;
  gap: 10px;
}
.benifits .benfits-cont .rightcont .money .moneycont .extramoney {
  font-size: 20px;
  font-weight: 600;
}
.benifits .benfits-cont .rightcont .money .moneycont p {
  width: 95%;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #253238;
  font-family: "Lato", sans-serif;
}
.benifits .benifits-img {
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
.benifits .benifits-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.Footer {
  display: grid;
  grid-template-columns: 30% 70%;
  position: relative;
  width: 75%;
  margin: 150px auto auto auto;
  padding: 75px 0 180px 0;
  z-index: 0;
  font-family: "Exo 2", sans-serif;
}
.Footer::before {
  content: "";
  width: 99vw;
  height: 100%;
  position: absolute;
  background: #fff;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
}
.Footer .FooterContent {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #253238;
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}
.Footer .FooterContent img {
  max-width: 150px;
}
.Footer .QuickAndCommunityDiv {
  display: flex;
}
.Footer .QuickAndCommunityDiv div {
  flex-basis: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer .QuickAndCommunityDiv div span {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Footer .QuickAndCommunityDiv div span h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  margin-bottom: 10px;
}
.Footer .QuickAndCommunityDiv div span h5 {
  font-size: 16px;
  font-weight: 700;
  margin: auto 0;
  color: #838383;
}
.Footer .QuickAndCommunityDiv div span div {
  display: flex;
  flex-direction: column;
}
.Footer .QuickAndCommunityDiv div span div .bi.bi-arrow-up-right {
  font-size: 15px;
}
.Footer .QuickAndCommunityDiv div span div a {
  text-decoration: none;
  flex-direction: row;
  cursor: pointer;
  margin-right: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 31px;
  color: #253238;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.Footer .QuickAndCommunityDiv div span div a span {
  font-size: 40px;
  transform: 0.1s;
}
.Footer .QuickAndCommunityDiv div span div a:hover span {
  transform: scale(1.8);
}
.Footer .QuickAndCommunityDiv div span div a:hover {
  color: #d2721d;
}
.Footer .QuickAndCommunityDiv div span div a .lardIconFooter {
  width: 15px !important;
  height: 15px !important;
}
.Footer .QuickAndCommunityDiv div span .ssdiv {
  gap: 20px;
}
.Footer .QuickAndCommunityDiv div span .ssdiv .followus {
  gap: 15px;
  align-items: baseline;
}
.Footer .QuickAndCommunityDiv div span .ss-icons {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
.Footer .QuickAndCommunityDiv div span .ss-icons span {
  max-width: 35px;
  min-width: 35px;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 0 !important;
  color: #494949 !important;
  transition: 0.2s;
  border-radius: 100%;
}
.Footer .QuickAndCommunityDiv div span .ss-icons span:hover {
  background-color: #041652;
  color: #fff !important;
}
.Footer .QuickAndCommunityDiv div span button {
  width: 150px;
  padding: 12px;
  background: #F89223;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}
.Footer .CopyRightAndPolicyDiv {
  position: absolute;
  padding-top: 10px;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 70px;
  height: -moz-fit-content;
  height: fit-content;
}
.Footer .CopyRightAndPolicyDiv::after {
  content: "";
  width: 99vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  background-color: #F89223;
}
.Footer .CopyRightAndPolicyDiv span {
  cursor: pointer;
}
.Footer .CopyRightAndPolicyDiv span:nth-child(1) {
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 31px;
  color: #fff;
}
.Footer .CopyRightAndPolicyDiv span:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  color: #e9e9e9;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

@keyframes width_anim {
  0% {
    width: 5px;
  }
  100% {
    width: 25px;
  }
}
@keyframes width_anim2 {
  0% {
    width: 25px;
  }
  100% {
    width: 5px;
  }
}
@media (max-width: 1366px) {
  .banner {
    background-image: url(/assets/images/banner1.png);
  }
  .whocont h4, .whocont p {
    width: 100% !important;
  }
  .banner-container .card {
    width: 340px;
    height: 470px;
  }
}
@media (max-width: 1200px) {
  .popular {
    background-image: url(/assets/images/popular\ 1.png) !important;
  }
  .popular .pop p {
    width: 70% !important;
  }
  .popular img {
    top: 10% !important;
  }
  .benifits {
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }
  .whoweare, .cards {
    width: 90% !important;
  }
  .testimonial .testimonial-container .cardcontmain {
    overflow: auto;
    width: 90%;
  }
  .Footer {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 0;
  }
  .Footer .FooterContent {
    padding-right: 0;
  }
  .Footer .QuickAndCommunityDiv div {
    flex-direction: unset;
    align-items: unset;
  }
  .Footer .QuickAndCommunityDiv .connectDiv h5 {
    margin: 0 !important;
  }
}
@media (max-width: 1024px) {
  .input-container {
    flex-direction: column;
    height: auto;
  }
  .input-container .inputs-banner {
    width: 100%;
  }
  .input-container .inputs-form-container {
    width: 100%;
  }
  .input-container .inputs-form-container .inputs form {
    max-width: 100%;
  }
}
@media (max-width: 826px) {
  .tophead {
    font-size: small;
  }
  .menu {
    justify-content: space-between;
    padding: 0 2rem;
  }
  .menu ul li {
    display: none;
  }
  .menu ul img {
    width: 60px;
    transform: unset;
  }
  .menu .menuImg.menu.menuImg.menu {
    display: flex !important;
    flex-direction: column;
    border: none !important;
    justify-content: center;
    align-items: center;
  }
  .menu .dropdownmenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    font-size: 20px;
    color: #ffffff;
    top: -500px;
    background: linear-gradient(45deg, rgba(229, 63, 126, 0.8901960784), rgba(211, 147, 44, 0.8901960784));
    left: 0;
    font-size: 16px;
    height: 500px;
    font-weight: 600;
    text-align: center;
  }
  .menu .dropdownmenu a {
    margin: 0 12.5%;
  }
  .menu .dropdownmenu a:first-child {
    margin-top: 40px;
  }
  .menu .dropdownmenu a:last-child {
    margin-bottom: 40px;
  }
  .banner {
    background-image: url(/assets/images/banner\ 2.png);
  }
  .banner .welcome {
    padding: 2rem;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner .welcome h3 {
    text-align: center;
    font-size: 3rem;
  }
  .benifits, .whoweare {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 3rem auto;
    gap: 20px;
    padding: 0;
  }
  .benifits .benifits-img, .whoweare .benifits-img {
    border-radius: 10px;
  }
  .benifits .whoimg, .whoweare .whoimg {
    grid-row: 2;
  }
  .benifits .whocont, .whoweare .whocont {
    padding: 1rem 0;
  }
  .cards {
    margin: 3rem auto;
  }
  .cards .cards-header h4 {
    font-size: 1.5rem;
  }
  .popsection .popular {
    height: 400px;
  }
  .popsection .popular img {
    display: none;
  }
  .testimonial .testimonial-container .sub-content {
    width: 85%;
  }
  .Footer .CopyRightAndPolicyDiv {
    flex-direction: column;
    gap: 10px;
  }
  .Footer .CopyRightAndPolicyDiv span:nth-child(2) {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .hal-content .rating {
    font-size: 1rem;
  }
  .tophead {
    padding: 2vw;
  }
  .tophead .top {
    flex-direction: column;
    gap: 15px;
  }
  .banner .welcome h3 {
    font-size: 2.5rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .banner-container {
    justify-content: center;
  }
  .banner-container .card {
    margin: 0;
  }
  .testimonial .testimonial-container .content {
    font-size: 2rem;
  }
  .popsection .popular .pop h3 {
    font-size: 2rem;
  }
  .popsection .popcircles {
    gap: 10px;
  }
  .popsection .popcircles .popcircleimg {
    width: 20vw;
  }
  .benifits .benfits-cont h4 {
    font-size: 2rem !important;
  }
  .benifits .benfits-cont .rightcont .money .moneycont .extramoney {
    font-size: 1rem;
  }
  .update-form .input-container .inputs-form-container .header {
    font-size: 2rem;
  }
  .Footer {
    padding-top: 70px;
  }
  .Footer .QuickAndCommunityDiv {
    display: grid;
    gap: 20px;
  }
  .Footer .QuickAndCommunityDiv div {
    width: 100%;
  }
  .Footer .QuickAndCommunityDiv div span {
    width: 100%;
    gap: 5px;
  }
  .Footer .QuickAndCommunityDiv div span h4 {
    font-size: 18px;
  }
  .Footer .QuickAndCommunityDiv div span div {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 20px;
  }
  .Footer .QuickAndCommunityDiv div span div a {
    margin: 0;
  }
  .Footer .QuickAndCommunityDiv .connectDiv .ssdiv {
    justify-content: space-between;
    align-items: center;
  }
  .Footer .QuickAndCommunityDiv .connectDiv .ssdiv .followus {
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
  }
}/*# sourceMappingURL=home.component.css.map */