<div class="tophead">
  <div class="top">
    <div class="ss-icons">
      <span><i class="bi bi-facebook"></i></span>
      <span><i class="bi bi-twitter"></i></span>
      <span><i class="bi bi-instagram"></i></span>
      <span><i class="bi bi-youtube"></i></span>
    </div>
    <div class="login">
      <div class="submit">
        <i class="fa-sharp fa-regular fa-file-lines"></i>
        <span>Submit Recipe</span>
      </div>
      <div class="submit">
        <i class="fa-regular fa-heart"></i>
        <span>Saved Recipes</span>
      </div>
      <div class="submit">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        <span>Login</span>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <ul>
    <li>Home</li>
    <li>About Us</li>
    <li>Recipes List</li>
    <img src="/assets/images/Group 7.svg" alt="" width="130px ">
    <li>Religion Food</li>
    <li>FAQ</li>
    <li>Contact Us</li>
  </ul>
</div>
<div class="banner">
  <div class="welcome">
    <h3>Welcome! to food faith fitness</h3>
    <button class="latest">Latest Recipes
      <i class="fa-solid fa-bowl-food"></i>
    </button>
  </div>
</div>
<div class="whoweare">
  <div class="whoimg">
    <img src="/assets/images/Layer 6.png" alt="">
  </div>
  <div class="whocont">
    <span>who we are</span>
    <h4>One Thousand Flavors in one Place</h4>
    <p class="cont1">
      Lorem ipsum dolor sit amet. Eum impedit eaque eum quae atque quo rerum debitis ut ullam incidunt et cumque libero
      ut cumque aspernatur. Sed dolor eaque et odio laudantium qui doloribus enim in consequuntur consequatur.
    </p>
    <p class="cont2">
      Lorem ipsum dolor sit amet. Eum impedit eaque eum quae atque quo rerum debitis ut ullam incidunt et cumque libero
      ut cumque aspernatur. Sed dolor eaque et odio laudantium qui doloribus enim in consequuntur consequatur.
    </p>
  </div>
</div>

<div class="cards">
    <div class="cards-header">
      <h4>Popular Dishes</h4>
      <button>View More<i class="bi bi-arrow-up-right-circle"></i></button>
    </div>
  <div class="cards-info">
    <div *ngFor="let dish of popularDishes">
      <app-halal-card [imgURL]="dish.imgURL" [type]="dish.type" [title]="dish.title"
        [desc]="dish.desc"></app-halal-card>
    </div>
  </div>
</div>

<div class="popular">
  <div class="welcome">
    <h3>Welcome! to food faith fitness</h3>
    <button class="latest">Latest Recipes
      <i class="fa-solid fa-bowl-food"></i>
    </button>
  </div>
</div>

<div class="cards">
  <div class="cards-header">
    <h4>Latest Recipes</h4>
    <button>View More<i class="bi bi-arrow-up-right-circle"></i></button>
  </div>
<div class="cards-info">
  <div *ngFor="let recipes of latestRecipes">
    <app-halal-card [imgURL]="recipes.imgURL" [type]="recipes.type" [title]="recipes.title"
      [desc]="recipes.desc"></app-halal-card>
  </div>
</div>
</div>


<div style="width: 100%;">
  <div class="input-container">
    <div class="inputs-banner">
      <img src="../../assets/images/Layer 9@2x (2).png" alt="">
    </div>
    <div class="inputs-form-container">
      <div class="header">GET UPDATE DELICIOUS RECEPIES EVERYDAY!</div>
      <div class="description">
        Lorem ipsum dolor sit amet. Hic eveniet omnis sed nisi culpa aut magnam maxime aut asperiores veniam.
      </div>
      <div class="inputs">
        <form>
          <input class="input-field" type="text" id="name" name="name" placeholder="Name" autocomplete="off">
          <input class="input-field" type="tel" id="phone" name="phone" placeholder="Phone" autocomplete="off">
          <input class="input-field" type="email" id="email" name="email" placeholder="Email" autocomplete="off">
          <textarea rows="4" cols="50" placeholder="Your Message Here" autocomplete="off"></textarea>
          <button class="btn-submit" type="submit">Submit</button>
        </form>
      </div>
    </div>

  </div>
</div>

<div style="width: 100%;">
  <div class="banner-container">
    <div class="card">
      <div class="card-body">
        <div class="header">
          MESSAGE FROM FOUNDER
        </div>
        <div class="highlight-header">
          First,we eat.Then,we do everything else.
        </div>
        <div class="body-content">
          Lorem ipsum dolor sit amet. Ut quisquam voluptatem a voluptatum odit quo Quis Quis in totam inventore eos unde voluptate. Ut iure aperiam et possimus consequatur eos enim magnam. </div>
        <div class="body-content">
          Lorem ipsum dolor sit amet. Ut quisquam voluptatem a voluptatum odit quo Quis Quis in totam inventore eos unde voluptate. Ut iure aperiam et possimus consequatur eos enim magnam. </div>
        <div class="signature">
          <img src="../../assets/images/image_2023_02_27T12_14_34_276Z.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%; margin: 0;">
  <div class="testimonial-container">
    <div class="header">
      TESTIMONIAL
    </div>

    <div class="content">
      what they say
    </div>

    <div class="sub-content">
      Lorem ipsum dolor sit amet. Eum ipsum enim ea aliquam soluta sed vero optio rem suscipit corrupti et dolores neque. Et facilis voluptatem est porro ullam id nesciunt voluptatum
    </div>

    <div class="card-container">
      <div class="card-template">
        <div class="profile">
          <div class="profile-pic">
            <img src="../../assets/images/aiony-haust-3TLl_97HNJo-unsplash.jpg" alt="">
          </div>
        </div>
        <div class="content">
          Rem iste sunt est nemo voluptatem ut minus obcaecati. Ad culpa consequuntur et porro aliquid quo consectetur eaque. Hic laborum iusto aut neque voluptate ea facilis nesciunt et corrupti
        </div>
        <div class="name">Poppy Francis</div>
        <div class="role">Student</div>
      </div>
      <div class="card-template">
        <div class="profile">
          <div class="profile-pic">
            <img src="../../assets/images/jurica-koletic-7YVZYZeITc8-unsplash.jpg" alt="">
          </div>
        </div>
        <div class="content">
          Rem iste sunt est nemo voluptatem ut minus obcaecati. Ad culpa consequuntur et porro aliquid quo consectetur eaque. Hic laborum iusto aut neque voluptate ea facilis nesciunt et corrupti
        </div>
        <div class="name">Ethan Marshal</div>
        <div class="role">Student</div>
      </div>
      <div class="card-template">
        <div class="profile">
          <div class="profile-pic">
            <img src="../../assets/images/olga-nayda-fHXpgMd_XhE-unsplash.jpg" alt="">
          </div>
        </div>
        <div class="content">
          Rem iste sunt est nemo voluptatem ut minus obcaecati. Ad culpa consequuntur et porro aliquid quo consectetur eaque. Hic laborum iusto aut neque voluptate ea facilis nesciunt et corrupti
        </div>
        <div class="name">Clarke</div>
        <div class="role">Student</div>
      </div>
    </div>
  </div>
</div>
